<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- Rolling File Appender -->
        <RollingFile name="File"
                     fileName="${basePath}/automation.log"
                     filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log">

            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- Root Logger -->
        <Root level="debug">  	
            <!-- <AppenderRef ref="Console"/> -->
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>

</Configuration>